input {
    width: -webkit-fill-available;
    border-radius: .25rem;
    outline: none;
    border: 1px solid #415668;
    padding: .75rem 45px .75rem .75rem;
    box-shadow: 0 4px 6px -1px 
        rgba(0, 0, 0, .1), 0 2px 4px -1px 
        rgba(0, 0, 0, .06);
}

.red-border-line {
    border: 1.5px solid #b53c36 !important;
    box-shadow: 0 4px 6px -1px 
        rgba(181, 60, 54, .1), 0 2px 4px -1px 
        rgba(181, 60, 54, .09);
}

.input-wrapper {
    position: relative;
}

.input-wrapper .icons {
    position: absolute;
    top: 12px;
    right: 15px;
}

.fa {
    color: #52687c;
}
