*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

.direct-message-item {
    padding: 0 25px;
    height: 30px;
}

a {
    text-decoration: none;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
}

a:hover:not(.active) {
    background-color: #350d36;
}

span {
    color: #967B96;
}

a.active span{
    color: #fff;
    opacity: .7;
}