*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

.container-conversation {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 100vh;
    
}

.container-conversation-items {
   margin-left: 16px;
}

.container-text-area {    
    margin-left: 16px;
    margin-right: 16px;
}