*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

header {
    height: 38px;
    background-color: #350D36;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 100%;
}

.bi-history-icon {
    color: #fdffff;
    height: auto;
    width: 22px;
    margin-right: 20px;
}

.burger-menu {
   justify-self: flex-start;
    color: #fdffff;
}

.help-icon {
    color: #fdffff;
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
