button {
    padding: .8rem 1.5rem;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    background-color: #e74444;
    color: #fff;
}

button:hover {
    background-color: #b53c36;
}