@font-face {
    font-family: 'Noto Sans', sans-serif;
    src: local('Noto Sans', sans-serif), url(./fonts/Noto_Sans/NotoSans-Regular.ttf) format('ttf');
}
  
body {
    min-width: 500px;
    margin: 0;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}

.content-center {
    align-items: center;
    justify-content: center;
}

.align-middle {
    align-items: center;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.full-content {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.container {
    padding: 20px;
    overflow: auto;
    height: 100vh;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
}
